<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnDA4NlDoNq3RGPz-4bghuAs9hmYvJwfk</string>
	<key>GCM_SENDER_ID</key>
	<string>461880063157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kangkong.running</string>
	<key>PROJECT_ID</key>
	<string>hangang-cba87</string>
	<key>STORAGE_BUCKET</key>
	<string>hangang-cba87.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>앱 사용 중 위치를 추적하기 위해 권한이 필요합니다.</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:461880063157:ios:2a402460751aa7c023bafc</string>
</dict>
</plist>
